{% extends 'closetclient/base.html' %}  


{% block content %}
    {% if latest_category_list %}
    <!-- the index is directed to show the detail.html view -->
    <div class="row">
      <div class="col-md-12">
        {% for category in latest_category_list %}
        <ul>
          <div class="center"
          <li><a href="{% url 'closetclient:detail' category.id %}">{{ category.category_name }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No categories are available.</p>
        {% endif %}
      </div>
    </div>

{% endblock content %}      
